| this is after
br
br
uri = 'https://graph.facebook.com/'+object_id+'/insights/'+command+'/day/?since='+start_date+'&until='+end_date+'&access_token='+access_token
result = URI.parse(URI.escape(uri))
= ("08/01/2012").to_time.to_i.to_s

prueba
prueba
prueba
prueba
prueba
prueba
prueba
prueba
prueba
